<h1><%=@song.title%></h1>

<p>
    by: <%= @song.artist%><br>
    Genre: <%= @song.genre%><br>
    <% if @song.released %>
        Released: <%= @song.release_year%><br>
    <% end %>

    <%= <%= link_to "Edit", edit_song_path(@song) %>%>
</p>